* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Container Styles  */
#main {
  width: 100%;
  min-height: 100vh;
}

/* Header  */
#header {
  font-size: large;
  text-align: center;
  font-family: "Roboto", Georgia, "Times New Roman", Times, serif;
  background-image: linear-gradient(rgb(228, 41, 72), rgb(0, 0, 145));
  color: transparent;
  background-clip: text;
  padding-top: 0.5rem;
}

/* Card Wrapper */

/* All Pages */

#card-wrapper {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
}

#menu-icon {
  height: 2rem;
}

#desktop-view {
  display: none;
}

/* Cards  */
#cards {
  width: auto;
  border: 1px solid black;
  min-height: 88vh;
  padding: 1rem 1rem;
}

.swiper {
  width: 100%;
  min-height: 88vh;
  background-image: linear-gradient(
    to top,
    rgb(255, 255, 255),
    rgb(209, 209, 241)
  );
  border-radius: 2rem;
}

/* Card Box  */
.card-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  padding: 1 1rem;
  /* border: 1 px solid black; */
  border-radius: 1.2rem;
}

/* Main Card  */
.main-card {
  width: 80%;
  aspect-ratio: 9/16;
  border: 1px solid black;
}

/* Edit Box  */

.edit-box {
  width: 100%;
  height: 28vh;
  border: 1px solid black;
}

/* Swiper Button  */
.swiper-button-prev {
  display: none;
}

.swiper-button-next {
  display: none;
}
