* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Container Styles  */
#main {
  width: 100%;
  min-height: 100vh;
}

/* Header  */
#header {
  font-size: large;
  text-align: center;
  font-family: "Roboto", Georgia, "Times New Roman", Times, serif;
  background-image: linear-gradient(rgb(228, 41, 72), rgb(0, 0, 145));
  color: transparent;
  background-clip: text;
  padding-top: 0.5rem;
}

/* Card Wrapper */

/* All Pages */

#card-wrapper {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
}

#menu-icon {
  height: 2rem;
}

#desktop-view {
  display: none;
}

/* Cards  */

/* Card Box  */
#card-box {
    
}

/* Edit Box  */
