/* Styles for tablets and desktops */
@media (min-width: 600px) {
  #header {
    font-size: x-large;
  }

  #desktop-view {
    display: flex;
  }

  #hamburger-menu {
    display: none;
  }

  #card-wrapper {
    flex-direction: row;
    gap: 2rem;
  }

  #desktop-view {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 1rem;
    height: 80vh;
    width: 25vw;
    padding: 1rem;
  }
  #desktop-view h3 {
    text-align: center;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid black;
  }

  #desktop-view-pages {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 1rem;
  }

  #cards {
    width: 80vw;
    border: 1px solid black;
  }

  #card-box {
    flex-direction: row;
    width: 100%;
    padding: 1rem 1rem;
  }

  #main-card {
    width: 30%;
    aspect-ratio: 9/16;
  }
  #edit-box {
    width: 60%;
    height: 70vh;
  }
}
